<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ - CMSNT.CO</title>
    <link href="/home/css/theme.css" rel="stylesheet" />
    <link href="/home/css/site.css" rel="stylesheet" />
    <link href="/home/css/futuristic-custom.css" rel="stylesheet" />

    <script src="/home/js/scripts.min.js"></script>
    <script src="/home/js/core.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"
      integrity="sha512-Cvxz1E4gCrYKQfz6Ne+VoDiiLrbFBvc6BPh4iyKo2/ICdIodfgc5Q9cBjRivfQNUXBCEnQWcEInSXsvlNHY/ZQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
  </head>
  <body
    class="lagom page-with-banner lagom-not-portal lagom-layout-left-wide page-homepage"
    data-phone-cc-input="1"
  >
  