<div class="app-nav hidden-print">
    <section id="header">
      <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/index.php" class="logo hidden-sm hidden-xs"
          ><img
            src=""
            
        /></a>
        <a href="/index.php" class="logo visible-xs visible-sm"
          ><img
            src=""
            
        /></a>

        <ul class="top-nav">
          <li>
            <a href="/checkout">
              <i class="fas fa-shopping-basket"></i>
            </a>
          </li>

          <li
            menuItemName="Account"
            class="dropdown account"
            id="Secondary_Navbar-Account"
          >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fas fa-user"></i>
              <span class="item-text">Quản lý tài khoản</span>

              <b class="ls ls-caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li
                menuItemName="Login"
                class=" "
                id="Secondary_Navbar-Account-Login"
              >
                <a href="/login"> Đăng nhập </a>
              </li>
              <li
                menuItemName="Register"
                class=" "
                id="Secondary_Navbar-Account-Register"
              >
                <a href="/register"> Đăng ký </a>
              </li>
              <li
                menuItemName="Divider"
                class="nav-divider"
                id="Secondary_Navbar-Account-Divider"
              >
                <a href=""> ----- </a>
              </li>
              <li
                menuItemName="Forgot Password?"
                class=" "
                id="Secondary_Navbar-Account-Forgot_Password?"
              >
                <a href="/password/reset"> Quên mật khẩu? </a>
              </li>
            </ul>
          </li>
          <li class="dropdown language" data-language-select>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Tiếng Việt
              <b class="ls ls-caret"></b>
            </a>
            <div
              class="dropdown-menu dropdown-language-search dropdown-menu-right"
              id="languageChooserContent"
            >
              <input
                type="hidden"
                data-language-select-value
                value="Tiếng Việt"
              />
              <input
                type="hidden"
                data-language-select-backlink
                value="/index.php?"
              />
              <input type="hidden" data-language-select-lang value="Select" />
              <div class="dropdown-header input-group align-center">
                <i class="input-group-icon lm lm-search"></i>
                <input
                  class="form-control"
                  placeholder="Tìm kiếm..."
                  type="text"
                  data-language-select-search
                />
              </div>
              <div class="nav-divider"></div>
              <div class="dropdown-menu-items" data-language-select-list>
                <div
                  class="dropdown-menu-item"
                  data-value="arabic"
                  data-language="العربية"
                >
                  <a href="/index.php?language=arabic">
                    <span class="language-flag arabic"></span>
                    <span class="language-text">العربية</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="azerbaijani"
                  data-language="Azerbaijani"
                >
                  <a href="/index.php?language=azerbaijani">
                    <span class="language-flag azerbaijani"></span>
                    <span class="language-text">Azerbaijani</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="catalan"
                  data-language="Català"
                >
                  <a href="/index.php?language=catalan">
                    <span class="language-flag catalan"></span>
                    <span class="language-text">Català</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="chinese"
                  data-language="中文"
                >
                  <a href="/index.php?language=chinese">
                    <span class="language-flag chinese"></span>
                    <span class="language-text">中文</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="croatian"
                  data-language="Hrvatski"
                >
                  <a href="/index.php?language=croatian">
                    <span class="language-flag croatian"></span>
                    <span class="language-text">Hrvatski</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="czech"
                  data-language="Čeština"
                >
                  <a href="/index.php?language=czech">
                    <span class="language-flag czech"></span>
                    <span class="language-text">Čeština</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="danish"
                  data-language="Dansk"
                >
                  <a href="/index.php?language=danish">
                    <span class="language-flag danish"></span>
                    <span class="language-text">Dansk</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="dutch"
                  data-language="Nederlands"
                >
                  <a href="/index.php?language=dutch">
                    <span class="language-flag dutch"></span>
                    <span class="language-text">Nederlands</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="english"
                  data-language="English"
                >
                  <a href="/index.php?language=english">
                    <span class="language-flag english"></span>
                    <span class="language-text">English</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="estonian"
                  data-language="Estonian"
                >
                  <a href="/index.php?language=estonian">
                    <span class="language-flag estonian"></span>
                    <span class="language-text">Estonian</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="farsi"
                  data-language="Persian"
                >
                  <a href="/index.php?language=farsi">
                    <span class="language-flag farsi"></span>
                    <span class="language-text">Persian</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="french"
                  data-language="Français"
                >
                  <a href="/index.php?language=french">
                    <span class="language-flag french"></span>
                    <span class="language-text">Français</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="german"
                  data-language="Deutsch"
                >
                  <a href="/index.php?language=german">
                    <span class="language-flag german"></span>
                    <span class="language-text">Deutsch</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="hebrew"
                  data-language="עברית"
                >
                  <a href="/index.php?language=hebrew">
                    <span class="language-flag hebrew"></span>
                    <span class="language-text">עברית</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="hungarian"
                  data-language="Magyar"
                >
                  <a href="/index.php?language=hungarian">
                    <span class="language-flag hungarian"></span>
                    <span class="language-text">Magyar</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="italian"
                  data-language="Italiano"
                >
                  <a href="/index.php?language=italian">
                    <span class="language-flag italian"></span>
                    <span class="language-text">Italiano</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="macedonian"
                  data-language="Macedonian"
                >
                  <a href="/index.php?language=macedonian">
                    <span class="language-flag macedonian"></span>
                    <span class="language-text">Macedonian</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="norwegian"
                  data-language="Norwegian"
                >
                  <a href="/index.php?language=norwegian">
                    <span class="language-flag norwegian"></span>
                    <span class="language-text">Norwegian</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="portuguese-br"
                  data-language="Português"
                >
                  <a href="/index.php?language=portuguese-br">
                    <span class="language-flag portuguese-br"></span>
                    <span class="language-text">Português</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="portuguese-pt"
                  data-language="Português"
                >
                  <a href="/index.php?language=portuguese-pt">
                    <span class="language-flag portuguese-pt"></span>
                    <span class="language-text">Português</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="romanian"
                  data-language="Română"
                >
                  <a href="/index.php?language=romanian">
                    <span class="language-flag romanian"></span>
                    <span class="language-text">Română</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="russian"
                  data-language="Русский"
                >
                  <a href="/index.php?language=russian">
                    <span class="language-flag russian"></span>
                    <span class="language-text">Русский</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="spanish"
                  data-language="Español"
                >
                  <a href="/index.php?language=spanish">
                    <span class="language-flag spanish"></span>
                    <span class="language-text">Español</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="swedish"
                  data-language="Svenska"
                >
                  <a href="/index.php?language=swedish">
                    <span class="language-flag swedish"></span>
                    <span class="language-text">Svenska</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="turkish"
                  data-language="Türkçe"
                >
                  <a href="/index.php?language=turkish">
                    <span class="language-flag turkish"></span>
                    <span class="language-text">Türkçe</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item"
                  data-value="ukranian"
                  data-language="Українська"
                >
                  <a href="/index.php?language=ukranian">
                    <span class="language-flag ukranian"></span>
                    <span class="language-text">Українська</span>
                  </a>
                </div>
                <div
                  class="dropdown-menu-item active"
                  data-value="vietnamese"
                  data-language="Tiếng Việt"
                >
                  <a href="/index.php?language=vietnamese">
                    <span class="language-flag vietnamese"></span>
                    <span class="language-text">Tiếng Việt</span>
                  </a>
                </div>
              </div>
              <div class="dropdown-menu-item dropdown-menu-no-data">
                <span class="text-info text-large"> Không có dữ liệu </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="main-menu">
      <nav
        id="nav"
        class="navbar navbar-default navbar-main"
        role="navigation"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">Menu</div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-collapse" id="primary-nav">
            <ul class="nav navbar-nav">
              <li
                menuItemName="Home"
                class="home-item open"
                id="Primary_Navbar-Home"
              >
                <a href="/index.php">
                  <i class="fas fa-home"></i>
                  <span>Trang chủ</span>
                </a>
              </li>
              <li
                menuItemName="Store"
                class="dropdown"
                id="Primary_Navbar-Store"
              >
                <a class="dropdown-toggle" href="#">
                  <i class="fas fa-shopping-cart"></i>
                  <span>Dịch vụ</span>

                  <!-- <b class="ls ls-caret"></b> -->
                  <b class="fas fa-caret-down" style="margin-left: auto;"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Dịch vụ</li>
                  <li
                    menuItemName="Browse Products Services"
                    class=" "
                    id="Primary_Navbar-Store-Browse_Products_Services"
                  >
                    <a href="/store"> Xem tất cả </a>
                  </li>
                  <li
                    menuItemName="Shop Divider 1"
                    class="nav-divider"
                    id="Primary_Navbar-Store-Shop_Divider_1"
                  >
                    <a href=""> ----- </a>
                  </li>
                  <li
                    menuItemName="Hosting Singapore"
                    class=" "
                    id="Primary_Navbar-Store-Hosting_Singapore"
                  >
                    <a href="/store/shared-hosting"> Hosting Singapore </a>
                  </li>
                  <li
                    menuItemName="License Source Code"
                    class=" "
                    id="Primary_Navbar-Store-License_Source_Code"
                  >
                    <a href="/store/license-source-code">
                      License Source Code
                    </a>
                  </li>
                </ul>
              </li>
              <li
                menuItemName="Announcements"
                class="  "
                id="Primary_Navbar-Announcements"
              >
                <a href="/announcements">
                  <i class="fas fa-share"></i>
                  <span>Thông báo</span>
                </a>
              </li>
              <li
                menuItemName="Knowledgebase"
                class="  "
                id="Primary_Navbar-Knowledgebase"
              >
                <a href="/knowledgebase">
                  <i class="fas fa-wallet"></i>
                  <span>Câu hỏi thường gặp</span>
                </a>
              </li>
              <li
                menuItemName="Affiliates"
                class="  "
                id="Primary_Navbar-Affiliates"
              >
                <a href="/affiliates.php">
                  <i class="fas fa-chart-pie"></i>
                  <span>Cộng tác viên</span>
                </a>
              </li>
              <li
                menuItemName="Contact Us"
                class="  "
                id="Primary_Navbar-Contact_Us"
              >
                <a href="/contact.php">
                  <i class="fas fa-envelope"></i>
                  <span>Liên hệ</span>
                </a>
              </li>
            </ul>
            <div class="navbar-nav navbar-right">
              <a href="/register.php" class="btn btn-default btn-outline"
                >Đăng ký</a
              >
              <a href="/login.php" class="btn btn-primary">Đăng nhập</a>
            </div>
            <ul class="nav navbar-nav language-nav">
              <li class="dropdown language">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="item-text">Tiếng Việt</span>
                  <b class="fas fa-caret-down" style="margin-left: auto;"></b>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-right"
                  id="languageChooserContent"
                >
                  <li class="">
                    <a href="/index.php?language=arabic">العربية</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=azerbaijani">Azerbaijani</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=catalan">Català</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=chinese">中文</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=croatian">Hrvatski</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=czech">Čeština</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=danish">Dansk</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=dutch">Nederlands</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=english">English</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=estonian">Estonian</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=farsi">Persian</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=french">Français</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=german">Deutsch</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=hebrew">עברית</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=hungarian">Magyar</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=italian">Italiano</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=macedonian">Macedonian</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=norwegian">Norwegian</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=portuguese-br">Português</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=portuguese-pt">Português</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=romanian">Română</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=russian">Русский</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=spanish">Español</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=swedish">Svenska</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=turkish">Türkçe</a>
                  </li>
                  <li class="">
                    <a href="/index.php?language=ukranian">Українська</a>
                  </li>
                  <li class="active">
                    <a href="/index.php?language=vietnamese">Tiếng Việt</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </section>
  </div>
